.footer {
    margin-top: 1vw;
    background-color: #752b2d;
    padding: 1vw 1.5vw;
}

@media only screen and (max-width: 600px) {
    .footer pre {
        text-align: center;
        white-space: pre-wrap;
    }
}