nav {
    max-width: 25%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}

nav img {
    max-width: 15vw;
    height: auto;
    transition-duration: 0.2s;
}

nav a{
    background-color: #752b2d;
    padding: 1vw 0;
    margin: 0 0 1vw;
    text-decoration: none;
    font-size: 1.3vw;
    transition-duration: 0.2s;
}

nav a:hover{
    color: #b4b4b4;
}

nav a:hover img{
    opacity: 0.8;
}